<script src="hls.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
  window.onload = function() {
  if(Hls.isSupported()) {
    var video = document.getElementById('video');
    var CONFIG = { debug: true,
                   liveSyncDurationCount: 5 };
    var hls = new Hls(CONFIG);
    hls.loadSource('{{ channel }}/stream.m3u8');
    hls.attachMedia(video);
    hls.on(Hls.Events.MANIFEST_PARSED,function() {
      video.play();
  });
 }
 
 }
</script>
<html><body>
<video id="video"></video>
<div id='PlaybackControl'>
    <h4> Playback Control </h4>
      <button type="button" class="btn btn-sm btn-info" onclick="$('#video')[0].play()">play</button>
      <button type="button" class="btn btn-sm btn-info" onclick="$('#video')[0].pause()">pause</button>
      <button type="button" class="btn btn-sm btn-info" onclick="$('#video')[0].currentTime+=10">currentTime+=10</button>
      <button type="button" class="btn btn-sm btn-info" onclick="$('#video')[0].currentTime-=10">currentTime-=10</button>
      <button type="button" class="btn btn-sm btn-info" onclick="$('#video')[0].currentTime=$('#seek_pos').val()">seek to </button>
       <input type="text" id='seek_pos' size="8" onkeydown="if(window.event.keyCode=='13'){$('#video')[0].currentTime=$('#seek_pos').val();}"><br><br>
    </div>
</body>
</html>
